doctype html
html
    head
        style
            include style.css
        title="YHACK API"
    body
        h1="Quickbooks Data"
            a(href="http://localhost:3000/sync")
                button(id="syncButton", class="button")
                    span.label Sync

        p !{Customers}
        p !{Invoices}
        p !{Bills}               